<!DOCTYPE html>
<html>
<head>
    <title>Lista de Clientes</title>
    <!-- Adicione o CSS do Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Lista de Clientes</h1>
        <table class="table table-striped mt-4">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                    <tr>
                        <td>{{ cliente[0] }}</td>
                        <td>{{ cliente[1] }}</td>
                        <td>{{ cliente[2] }}</td>
                        <td>{{ cliente[3] }}</td>
                        <td>
                            <a href="{{ url_for('editar_cliente', cliente_id=cliente[0]) }}" class="btn btn-sm btn-primary">Editar</a>
                            <a href="{{ url_for('excluir_cliente', cliente_id=cliente[0]) }}" class="btn btn-sm btn-danger">Excluir</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <a href="{{ url_for('cadastrar_cliente') }}" class="btn btn-primary">Cadastrar Novo Cliente</a>
    </div>

    <!-- Adicione o JS do Bootstrap (se necessário) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
