    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #007bf6; /* Cor de fundo do menu */
        padding-top: 20px;
    }

    .sidenav .nav-link {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: #333; /* Cor dos links */
        display: block;
    }

    .sidenav .nav-link:hover {
        background-color: #cd1818; /* Cor de fundo ao passar o mouse */
        color: #333; /* Cor do texto ao passar o mouse */
    }

